services:
  kavita:
    container_name: kavita
    hostname: kavita
    image: jvmilazz0/kavita:latest
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    healthcheck:
      disable: true
    ports:
      - 5000:5000
    volumes:
      - ./kavita:/kavita/config
      - ${DATA_DIR}:/library
    networks:
      - frontend
    labels:
      - traefik.enable=true
      - traefik.http.routers.kavita.entrypoints=websecure,homesec
      - traefik.http.routers.kavita.rule=Host(`eb.${DOMAIN}`)
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.webui=http://[IP]:[PORT:5000]
      - net.unraid.docker.icon=https://raw.githubusercontent.com/Kareadita/Kavita/develop/UI/Web/src/assets/icons/android-chrome-192x192.png
      - net.unraid.docker.shell=bash
networks:
  frontend:
    external: true
