services:
  kavita:
    container_name: kavita
    hostname: kavita
    image: jvmilazz0/kavita:latest
    healthcheck:
      disable: true
    restart: unless-stopped
    ports:
      - 5000:5000
    volumes:
      - /mnt/user/appdata/kavita:/kavita/config
      - ${DATA_DIR}:/library
    networks:
      - frontend
    security_opt:
      - no-new-privileges:true
    labels:
      traefik.enable: "true"
      traefik.http.routers.kavita.entrypoints: websecure,homesec
      traefik.http.routers.kavita.rule: Host(`eb.${DOMAIN}`)
networks:
  frontend:
    external: true
