services:
  posterizarr:
    container_name: posterizarr
    hostname: posterizarr
    image: ghcr.io/fscorrupt/posterizarr:latest
    user: "${ENV_PUID}:${ENV_PGID}" # <- ersetzt PUID/PGID
    environment:
      - TZ=${TIMEZONE}
      - UMASK=022
      - TERM=xterm
      - RUN_TIME=02:30 #,19:30
    restart: unless-stopped
    networks:
      - frontend
    volumes:
      - /mnt/cache/appdata/posterizarr:/config:rw
      - /mnt/cache/appdata/posterizarr/assets:/assets:rw
      - /mnt/cache/appdata/posterizarr/assetsbackup:/assetsbackup:rw
      - /mnt/cache/appdata/posterizarr/manualassets:/manualassets:rw
    security_opt:
      - no-new-privileges:true
networks:
  frontend:
    external: true
