services:
  posterizarr:
    container_name: posterizarr
    hostname: posterizarr
    image: ghcr.io/fscorrupt/posterizarr:latest
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    user: "${ENV_PUID}:${ENV_PGID}" # <- ersetzt PUID/PGID
    environment:
      - TZ=${TIMEZONE}
      - UMASK=022
      - TERM=xterm
      - RUN_TIME=02:30 #,19:30
    networks:
      - frontend
    volumes:
      - /mnt/cache/appdata/posterizarr:/config:rw
      - /mnt/cache/appdata/posterizarr/assets:/assets:rw
      - /mnt/cache/appdata/posterizarr/assetsbackup:/assetsbackup:rw
      - /mnt/cache/appdata/posterizarr/manualassets:/manualassets:rw
    labels:
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.icon=https://raw.githubusercontent.com/nwithan8/unraid_templates/master/images/posterizarr-icon.png
      - net.unraid.docker.shell=bash
networks:
  frontend:
    external: true
