services:
  l2xu:
    image: ghcr.io/l2xu/betterbahn:latest
    container_name: betterbahn
    restart: unless-stopped
    user: 99:100
    ports:
      - 3010:3000/tcp
    read_only: true
    tmpfs:
      - /tmp
    privileged: false
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges=true
    environment:
      - TZ=Europe/Berlin
    labels:
      - traefik.enable=true
      - traefik.http.routers.betterbahn.entrypoints=homesec
      - traefik.http.routers.betterbahn.rule=Host(`betterbahn.${DOMAIN}`)
      - traefik.http.services.betterbahn.loadbalancer.server.port=3000
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.webui=http://[IP]:[PORT:3010]/
      - net.unraid.docker.icon=https://raw.githubusercontent.com/BetterBahn/betterbahn/refs/heads/main/app/favicon.ico
      - net.unraid.docker.shell=sh
    networks:
      - frontend
networks:
  frontend:
    external: true
