services:
  upgradinatorr:
    container_name: upgradinatorr
    hostname: upgradinatorr
    image: mcr.microsoft.com/powershell:latest
    restart: no
    security_opt:
      - no-new-privileges:true
    # optional
    logging:
      driver: json-file
      options:
        max-file: 10
        max-size: 200k
    # optional
    environment:
      - PUID=99
      - PGID=100
    volumes:
      - /mnt/cache/appdata/upgradinatorr/scripts:/scripts
    command: pwsh /scripts/Upgradinatorr/upgradinatorr.ps1 -ApplicationList Radarr
    networks:
      - backend
    labels:
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.icon=https://icon.icepanel.io/Technology/png-shadow-512/Powershell.png
      - net.unraid.docker.shell=bash
networks:
  backend:
    external: true
