services:
  zoraxy:
    image: zoraxydocker/zoraxy:latest
    container_name: zoraxy
    hostname: zoraxy
    restart: unless-stopped
    ports:
      - 801:80
      - 4431:443
      - 8000:8000
    volumes:
      - /mnt/cache/appdata/zoraxy:/opt/zoraxy/config
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      FASTGEOIP: "true"
      ZEROTIER: "true"
    networks:
      - frontend
      - backend
    security_opt:
      - no-new-privileges:true
networks:
  frontend:
    external: true
  backend:
    external: true
