services:
  borgmatic:
    container_name: borgmatic
    hostname: borgmatic
    image: ghcr.io/borgmatic-collective/borgmatic:latest
    restart: unless-stopped
    security_opt:
      - apparmor:unconfined
      - label:disable
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse:/dev/fuse
    # command: /bin/sh
    environment:
      - TZ=${TZ}
      - BORG_PASSPHRASE=${BORG_PASSPHRASE}
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - /mnt/user:/mnt/user:ro
      - /boot:/boot:ro
      - /mnt/user/Backup/borg_backup/repo:/mnt/borg-repository
      - /mnt/cache/appdata/borgmatic/cache:/root/.cache/borg
      - /mnt/cache/appdata/borgmatic/config:/etc/borgmatic.d
      - /mnt/cache/appdata/borgmatic/borg_keys:/root/.config/borg
      - /mnt/cache/appdata/borgmatic/ssh_keys:/root/.ssh
    networks:
      - backend
    labels:
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.icon=https://raw.githubusercontent.com/Sdub76/unraid_docker_templates/main/images/borgmatic.png
      - net.unraid.docker.shell=bash
networks:
  backend:
    external: true
