services:
  jdownloader-2:
    container_name: jdownloader
    hostname: jdownloader
    image: jlesage/jdownloader-2:latest
    restart: unless-stopped
    environment:
      - TZ=Europe/Berlin
      - LANG=de_DE.UTF-8
      - USER_ID=${ENV_PUID}
      - GROUP_ID=${ENV_PGID}
      - UMASK=0000
      - APP_NICENESS=0
      - DISPLAY_WIDTH=1920
      - DISPLAY_HEIGHT=1080
      - DARK_MODE=1
      - SECURE_CONNECTION=0
      - SECURE_CONNECTION_VNC_METHOD=SSL
      - SECURE_CONNECTION_CERTS_CHECK_INTERVAL=60
      - WEB_LISTENING_PORT=5800
      - VNC_LISTENING_PORT=5900
      - MYJDOWNLOADER_EMAIL=$MYJDOWNLOADER_EMAIL
      - MYJDOWNLOADER_PASSWORD=$MYJDOWNLOADER_PASSWORD
      - MYJDOWNLOADER_DEVICE_NAME=docker
      - JDOWNLOADER_HEADLESS=0
      - JDOWNLOADER_MAX_MEM=
    healthcheck:
      disable: true
    # ports:
    #   - 7807:5800/tcp
    #   - 7907:5900/tcp
    volumes:
      - /mnt/cache/appdata/JDownloader2:/config
      - ${DATA_DIR}:/output:rw
    networks:
      - backend
    security_opt:
      - no-new-privileges:true
    labels:
      traefik.enable: "true"
      traefik.docker.network: backend
      traefik.http.routers.jdownloader.entrypoints: homesec
      traefik.http.routers.jdownloader.rule: Host(`jd.${DOMAIN}`)
      traefik.http.services.jdownloader.loadbalancer.server.port: "5800"
networks:
  backend:
    external: true
