services:
  caddy:
    build:
      context: .
    container_name: caddy
    hostname: caddy
    restart: unless-stopped
    networks:
      - frontend
      - backend
    ports:
      - 80:80 # Intern HTTP
      - 443:443 # Intern HTTPS
      - 443:443/udp # Intern HTTP/3
      - 81:81 # Extern HTTP
      - 444:444 # Extern HTTPS
      - 444:444/udp # Extern HTTP/3
    volumes:
      - /mnt/cache/appdata/caddy:/etc/caddy
      - /mnt/cache/appdata/caddy/caddy_data:/data
      - /mnt/cache/appdata/caddy/caddy_config:/config
      - /mnt/cache/appdata/caddy/site:/srv
      - /mnt/cache/appdata/caddy/logs:/var/log/caddy
    environment:
      - CF_API_TOKEN=${CF_API_TOKEN}
      - DOMAIN=${DOMAIN}
      - EMAIL=${EMAIL}
      - CROWDSEC_API_KEY=${CROWDSEC_API_KEY}
  crowdsec:
    container_name: crowdsec
    hostname: crowdsec
    image: crowdsecurity/crowdsec:latest
    restart: unless-stopped
    depends_on:
      - caddy
    healthcheck:
      test:
        - CMD
        - cscli
        - version
      timeout: 2s
      interval: 20s
      retries: 5
      start_period: 10s
    ports:
      - 8081:8080/tcp
      - 6060:6060/tcp
      - 7422:7422/tcp
    volumes:
      - /mnt/cache/appdata/crowdsec/data:/var/lib/crowdsec/data
      - /mnt/cache/appdata/crowdsec/config:/etc/crowdsec
      - ./acquis.yaml:/etc/crowdsec/acquis.yaml
      - ./http.yaml:/etc/crowdsec/notifications/http.yaml
      - ./profiles.yaml:/etc/crowdsec/profiles.yaml
      - /mnt/cache/appdata/caddy/logs:/var/log/caddy:ro'
      - /var/run/docker.sock:/var/run/docker.sock:ro'
      - /var/log/auth.log/:/var/log/auth.log:ro'
      - /var/log/syslog:/var/log/syslog:ro'
    environment:
      - TZ=${TIMEZONE}
      - COLLECTIONS=crowdsecurity/traefik crowdsecurity/caddy crowdsecurity/http-cve crowdsecurity/appsec-generic-rules crowdsecurity/appsec-virtual-patching crowdsecurity/sshd crowdsecurity/linux
      - PUID=${ENV_PUID}
      - PGID=${ENV_PGID}
    security_opt:
      - no-new-privileges:true
    networks:
      - frontend
      - backend
networks:
  frontend:
    external: true
  backend:
    external: true
