services:
  tdarr:
    image: ghcr.io/haveagitgat/tdarr:latest
    container_name: tdarr
    hostname: tdarr
    devices:
      - /dev/dri:/dev/dri
    restart: unless-stopped
    healthcheck:
      disable: true
    environment:
      - TZ=${TIMEZONE}
      - serverIP=0.0.0.0
      - serverPort=8266
      - webUIPort=8265
      - internalNode=true
      - inContainer=true
      - ffmpegVersion=6
      - nodeName=Internal
      - PUID=${ENV_PUID}
      - PGID=${ENV_PGID}
    ports:
      - 8266:8266 # server port
      - 8265:8265 # webUI port
      - 8264:8264 # Node Port
    volumes:
      - /mnt/cache/appdata/tdarr/server:/app/server
      - /mnt/cache/appdata/tdarr/configs:/app/configs
      - /mnt/cache/appdata/tdarr/logs:/app/logs
      - ${DATA_DIR}/:/data/media
    networks:
      - backend
    security_opt:
      - no-new-privileges:true
    labels:
      traefik.enable: "true"
      traefik.docker.network: backend
      traefik.http.routers.tdarr.entrypoints: homesec
      traefik.http.routers.tdarr.rule: Host(`tdarr.${DOMAIN}`)
      traefik.http.services.tdarr.loadbalancer.server.port: "8265"
networks:
  backend:
    external: true
