services:
  tdarr:
    container_name: tdarr
    hostname: tdarr
    image: ghcr.io/haveagitgat/tdarr:latest
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    devices:
      - /dev/dri:/dev/dri
    healthcheck:
      disable: true
    environment:
      - TZ=${TIMEZONE}
      - serverIP=0.0.0.0
      - serverPort=8266
      - webUIPort=8265
      - internalNode=true
      - inContainer=true
      - ffmpegVersion=6
      - nodeName=Internal
      - PUID=${ENV_PUID}
      - PGID=${ENV_PGID}
    ports:
      - 8266:8266 # server port
      - 8265:8265 # webUI port
      - 8264:8264 # Node Port
    volumes:
      - /mnt/cache/appdata/tdarr/server:/app/server
      - /mnt/cache/appdata/tdarr/configs:/app/configs
      - /mnt/cache/appdata/tdarr/logs:/app/logs
      - ${DATA_DIR}/:/data/media
    networks:
      - backend
    labels:
      # - homepage.group=Download
      # - homepage.name=Tdarr
      # - homepage.icon=/images/png/tdarr.png
      # - homepage.href=https://tdarr.${DOMAIN}
      # - homepage.weight=11
      # - homepage.widget.type=tdarr
      # - homepage.widget.url=http://tdarr:8265
      - traefik.enable=true
      - traefik.docker.network=backend
      - traefik.http.routers.tdarr.entrypoints=homesec
      - traefik.http.routers.tdarr.rule=Host(`tdarr.${DOMAIN}`)
      - traefik.http.services.tdarr.loadbalancer.server.port=8265
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.webui=http://[IP]:[PORT:8265]
      - net.unraid.docker.icon=https://raw.githubusercontent.com/selfhosters/unRAID-CA-templates/master/templates/img/tdarr.png
      - net.unraid.docker.shell=bash
networks:
  backend:
    external: true
