services:
  spottube:
    container_name: spottube
    hostname: spottube
    image: thewicklowwolf/spottube:latest
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      - PUID=99
      - PGID=100
      - thread_limit=2
      - artist_track_selection=all
    volumes:
      - ./spottube:/spottube/config # Pfad für die Konfiguration
      - /mnt/cache/Downloads/spottube:/spottube/downloads # Pfad für die Downloads 
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 5010:5000
    networks:
      - frontend
    labels:
      - traefik.enable=true
      - traefik.http.routers.spottube.entrypoints=homesec
      - traefik.http.routers.spottube.rule=Host(`spottube.${DOMAIN}`)
      - traefik.http.services.spottube.loadbalancer.server.port=5000
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.icon=https://raw.githubusercontent.com/KRTirtho/spotube/refs/heads/master/assets/spotube-logo-item.png
      - net.unraid.docker.shell=bash
networks:
  frontend:
    external: true
