filenames:
 - /var/log/auth.log
 - /var/log/syslog
labels:
  type: syslog
# ---
# filenames:
#   - /var/log/traefik/*
# labels:
#   type: traefik
---
source: docker
docker_host: unix:///var/run/docker.sock
use_container_labels: true
# ---
# source: docker
# container_name:
#  - traefik
# labels:
#   type: traefik
# ---
# source: docker
# container_name:
#  - authentik-server
# labels:
#   type: authentik
---
listen_addr: 0.0.0.0:7422
appsec_config: crowdsecurity/appsec-default
name: myAppSecComponent
source: appsec
labels:
  type: appsec