http:

  ## EXTERNAL ROUTING EXAMPLE - Only use if you want to proxy something manually ##
  routers:
    # jetkvm routing example - Remove if not used
    jetkvm:
      entryPoints:
        - homesec
      rule: 'Host(`jetkvm.example.de`)'
      service: jetkvm
      # middlewares:
      #   - local-ipwhitelist
    krusader:
      entryPoints:
        - homesec
      rule: 'Host(`krusader.example.de`)'
      service: krusader
      # middlewares:
      #   - local-ipwhitelist

  ## SERVICES EXAMPLE ##
  services:
    # jetkvm service example - Remove if not used
    jetkvm:
      loadBalancer:
        servers:
          - url: http://192.168.20.200

    krusader:
      loadBalancer:
        servers:
          - url: http://192.168.20.3:6080 #/vnc.html?resize=remote&host=192.168.20.3&port=6080&autoconnect=1

  ## MIDDLEWARES ##
  middlewares:
    basic-chain:
      chain:
        middlewares:
          # - authelia@docker
          - securityHeaders
          - crowdsec
          - ratelimit

    ratelimit:
      rateLimit:
        average: 50
        burst: 100

    # Only Allow Local networks
    local-ipwhitelist:
      ipAllowList:
        sourceRange:
          - 127.0.0.1/32 # localhost
          - 10.0.0.0/8
          - 192.168.0.0/16 # LAN Subnet

    authelia:
        forwardAuth:
            address: http://authelia:9091//api/verify?rd=https://auth.example.de
            trustForwardHeader: true
            authResponseHeaders:
              - "Remote-User"
              - "Remote-Groups"
              - "Remote-Email"
              - "Remote-Name"

    crowdsec:
      plugin:
        crowdsec-bouncer-traefik-plugin:
          enabled: true
          defaultDecisionSeconds: 60
          crowdsecMode: live
          crowdsecAppsecEnabled: true
          crowdsecAppsecHost: crowdsec:7422
          crowdsecAppsecFailureBlock: true
          crowdsecAppsecUnreachableBlock: true
          crowdsecLapiKey: "+uR47s/B+nlZmfDqR5aoZ4gXWvTYYrm60nc6guaZBAI"
          crowdsecLapiHost: crowdsec:8080
          crowdsecLapiScheme: http
          crowdsecLapiTLSInsecureVerify: false
          forwardedHeadersTrustedIPs:
            # private class ranges
            - 10.0.0.0/8
            - 172.16.0.0/12
            - 192.168.0.0/16
          clientTrustedIPs:
            # private class ranges
            - 10.0.0.0/8
            - 172.16.0.0/12
            - 192.168.0.0/16

    authentik:
        forwardAuth:
            address: http://authentik-server:9000/outpost.goauthentik.io/auth/traefik
            trustForwardHeader: true
            authResponseHeaders:
                - X-authentik-username
                - X-authentik-groups
                - X-authentik-entitlements
                - X-authentik-email
                - X-authentik-name
                - X-authentik-uid
                - X-authentik-jwt
                - X-authentik-meta-jwks
                - X-authentik-meta-outpost
                - X-authentik-meta-provider
                - X-authentik-meta-app
                - X-authentik-meta-version

    # Security headers
    securityHeaders:
      headers:
        customResponseHeaders:
          X-Robots-Tag: "none,noarchive,nosnippet,notranslate,noimageindex"
          server: ""
          X-Forwarded-Proto: "https"
        sslProxyHeaders:
          X-Forwarded-Proto: https
        referrerPolicy: "strict-origin-when-cross-origin"
        hostsProxyHeaders:
          - "X-Forwarded-Host"
        customRequestHeaders:
          X-Forwarded-Proto: "https"
        contentTypeNosniff: true
        browserXssFilter: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsSeconds: 63072000
        stsPreload: true

# Only use secure ciphers - https://ssl-config.mozilla.org/#server=traefik&version=2.6.0&config=intermediate&guideline=5.6
tls:
  options:
    default:
      minVersion: VersionTLS12
      cipherSuites:
        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
        - TLS_AES_128_GCM_SHA256
        - TLS_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
      curvePreferences:
        - CurveP521
        - CurveP384
      sniStrict: true
