services:
  audiobookshelf:
    container_name: ${APP_NAME}
    hostname: ${APP_NAME}
    image: ghcr.io/advplyr/audiobookshelf:latest
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    healthcheck:
      disable: true
    ports:
      - 13378:80
    volumes:
      - ${DATA_DIR}:/audiobooks
      - ${EBOOK_DIR}:/ebooks
      - ./audiobookshelf:/config
      - ./audiobookshelf/metadata:/metadata
    labels:
      - traefik.enable=true
      - traefik.http.routers.${APP_NAME}.entrypoints=websecure,homesec
      - traefik.http.routers.${APP_NAME}.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)
      - traefik.http.routers.${APP_NAME}.middlewares=authelia@file
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.webui=http://[IP]:[PORT:80]
      - net.unraid.docker.icon=https://github.com/advplyr/audiobookshelf/raw/master/client/static/Logo.png
    networks:
      - frontend
networks:
  frontend:
    external: true
