DOMAIN=yourdomain.com

# Data location for storing media, downloads and configs
DATA_DIR=/mnt/user/Media
TMP_TRANSCODE=/dev/shm

# Timezone
TIMEZONE=Europe/Berlin

# Linux user/group ID for file permissions
## User ID
ENV_PUID=99
## Group ID
ENV_PGID=100

ADVERTISE_IP=http://192.168.20.3:32400,https://plex.yourdomain.com
ALLOWED_NETWORKS=192.168.0.0/16,172.16.0.0/12,127.0.0.1/8
# API Keys
PLEX_CLAIM=
TOKEN=
