services:
  it-tools:
    container_name: it-tools
    hostname: it-tools
    image: corentinth/it-tools:latest
    healthcheck:
      disable: true
    restart: unless-stopped
    # ports:
    #   - 834:80
    networks:
      - backend
    security_opt:
      - no-new-privileges:true
    labels:
      traefik.enable: "true"
      traefik.docker.network: backend
      traefik.http.routers.it-tools.entrypoints: homesec
      traefik.http.routers.it-tools.rule: Host(`itt.${DOMAIN}`)
networks:
  backend:
    external: true
