services:
  filebrowser:
    container_name: filebrowser
    hostname: filebrowser
    image: filebrowser/filebrowser:latest
    restart: unless-stopped
    user: 99:100
    healthcheck:
      disable: true
    ports:
      - 99:80
    volumes:
      - ${DATA_DIR}:/srv
      - /mnt/cache/appdata/filebrowser:/config
      - /mnt/cache/appdata/filebrowser:/database
    networks:
      - frontend
    security_opt:
      - no-new-privileges:true
    labels:
      traefik.enable: "true"
      traefik.http.routers.filebrowser.entrypoints: websecure,homesec
      traefik.http.routers.filebrowser.rule: Host(`fb.${DOMAIN}`)
networks:
  frontend:
    external: true
