# Containers prefix
#COMPOSE_PROJECT_NAME=arr
DOMAIN=yourdomain.com

# Data location for storing media, downloads and configs
DATA_DIR=/mnt/user/Media
SERVICES_DIR=./arr
POSTERIZARR=./arr/posterizarr
TMP_DOWNLOADS_DIR=/mnt/user/Downloads/incomplete

# Timezone
TIMEZONE=Europe/Berlin

# Linux user/group ID for file permissions
## User ID
ENV_PUID=99
## Group ID
ENV_PGID=100
# API Keys
PREFETCHARR_JELLYFIN_API_KEY=
SONARR_API_KEY=
SONARR_AS_API_KEY=
RADARR_API_KEY=
RADARR_KIDS_API_KEY=
READARR_API_KEY=
PROWLARR_API_KEY=
BAZARR_API_KEY=
SAB_API_KEY=
JELLYSEERR_KEY=
LIDARR_API_KEY=
