services:
  jellyseerr:
    container_name: jellyseerr
    hostname: jellyseerr
    image: fallenbagel/jellyseerr:latest
    # ports:
    #   - 5055:5055
    restart: unless-stopped
    networks:
      - backend
      - frontend
    user: ${ENV_PUID}:${ENV_PGID}
    environment:
      - LOG_LEVEL=debug
      - TZ=${TIMEZONE}
    volumes:
      - ${SERVICES_DIR}/jellyseerr:/app/config
    security_opt:
      - no-new-privileges:true
    labels:
      traefik.enable: true
      traefik.http.routers.jellyseerr.entrypoints: homesec
      traefik.http.routers.jellyseerr.rule: Host(`js.${DOMAIN}`)
  radarr:
    container_name: radarr
    hostname: radarr
    image: lscr.io/linuxserver/radarr:latest
    # ports:
    #   - 7878:7878
    restart: unless-stopped
    networks:
      - backend
    environment:
      - PUID=${ENV_PUID}
      - PGID=${ENV_PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${SERVICES_DIR}/radarr:/config
      - ${DATA_DIR}:/data
      # - ${DATA_DIR}/Media/complete:/data/downloads/complete
    security_opt:
      - no-new-privileges:true
    labels:
      traefik.enable: true
      traefik.docker.network: backend
      traefik.http.routers.radarr.entrypoints: homesec
      traefik.http.routers.radarr.rule: Host(`radarr.${DOMAIN}`)
  radarr_kids:
    container_name: radarr_kids
    hostname: radarr_kids
    image: lscr.io/linuxserver/radarr:latest
    # ports:
    #   - 7879:7878
    restart: unless-stopped
    networks:
      - backend
    environment:
      - PUID=${ENV_PUID}
      - PGID=${ENV_PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${SERVICES_DIR}/radarr_kids:/config
      - ${DATA_DIR}:/data
      # - ${DATA_DIR}/Media/complete:/data/downloads/complete
    security_opt:
      - no-new-privileges:true
    labels:
      traefik.enable: true
      traefik.docker.network: backend
      traefik.http.routers.radarr-kids.entrypoints: homesec
      traefik.http.routers.radarr-kids.rule: Host(`radarr-kids.${DOMAIN}`)
  sonarr:
    container_name: sonarr
    hostname: sonarr
    image: lscr.io/linuxserver/sonarr:latest
    # ports:
    #   - 8989:8989
    restart: unless-stopped
    networks:
      - backend
    environment:
      - PUID=${ENV_PUID}
      - PGID=${ENV_PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${SERVICES_DIR}/sonarr:/config
      - ${DATA_DIR}:/data
      # - ${DATA_DIR}/Media/complete:/data/downloads/complete
    security_opt:
      - no-new-privileges:true
    labels:
      traefik.enable: true
      traefik.docker.network: backend
      traefik.http.routers.sonarr.entrypoints: homesec
      traefik.http.routers.sonarr.rule: Host(`sonarr.${DOMAIN}`)
  sonarr_as:
    # Animes
    container_name: sonarr_as
    hostname: sonarr_as
    image: lscr.io/linuxserver/sonarr:latest
    # ports:
    #   - 8990:8989
    restart: unless-stopped
    networks:
      - backend
    environment:
      - PUID=${ENV_PUID}
      - PGID=${ENV_PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${SERVICES_DIR}/sonarr_as:/config
      - ${DATA_DIR}:/data
      # - ${DATA_DIR}/Media/complete:/data/downloads/complete
    security_opt:
      - no-new-privileges:true
    labels:
      traefik.enable: true
      traefik.docker.network: backend
      traefik.http.routers.sonarr-as.entrypoints: homesec
      traefik.http.routers.sonarr-as.rule: Host(`sonarr-as.${DOMAIN}`)
  readarr:
    container_name: readarr
    hostname: readarr
    image: lscr.io/linuxserver/readarr:0.4.18-develop
    # ports:
    #   - 8787:8787
    restart: unless-stopped
    networks:
      - backend
    environment:
      - PUID=${ENV_PUID}
      - PGID=${ENV_PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${SERVICES_DIR}/readarr:/config
      - ${DATA_DIR}:/data
      # - ${DATA_DIR}/Media/complete:/data/downloads/complete
    security_opt:
      - no-new-privileges:true
    labels:
      traefik.enable: true
      traefik.docker.network: backend
      traefik.http.routers.readarr.entrypoints: homesec
      traefik.http.routers.readarr.rule: Host(`readarr.${DOMAIN}`)
  prowlarr:
    container_name: prowlarr
    hostname: prowlarr
    image: lscr.io/linuxserver/prowlarr:latest
    # ports:
    #   - 9696:9696
    restart: unless-stopped
    networks:
      - backend
    environment:
      - PUID=${ENV_PUID}
      - PGID=${ENV_PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${SERVICES_DIR}/prowlarr:/config
    security_opt:
      - no-new-privileges:true
    labels:
      traefik.enable: true
      traefik.docker.network: backend
      traefik.http.routers.prowlarr.entrypoints: homesec
      traefik.http.routers.prowlarr.rule: Host(`prowlarr.${DOMAIN}`)
  # bazarr:
  #   container_name: bazarr
  #   hostname: bazarr
  #   image: lscr.io/linuxserver/bazarr:latest
  #   # ports:
  #   #   - 6767:6767
  #   restart: unless-stopped
  #   networks:
  #     - backend
  #   volumes:
  #     - ${SERVICES_DIR}/bazarr/config:/config
  #     - ${DATA_DIR}:/data
  #   environment:
  #     - PUID=${ENV_PUID}
  #     - PGID=${ENV_PGID}
  #     - TZ=${TIMEZONE}
  #   labels:
  #     traefik.enable: true
  #     traefik.docker.network: backend
  #     traefik.http.routers.bazarr.entrypoints: homesec
  #     traefik.http.routers.bazarr.rule: Host(`bazarr.${DOMAIN}`)
  sabnzbd:
    container_name: sabnzbd
    hostname: sabnzbd
    image: lscr.io/linuxserver/sabnzbd:latest
    # ports:
    #   - 8087:8080 # HTTP port for the WebUI
    #   - 9090:9090 # HTTPS port for the WebUI
    restart: unless-stopped
    networks:
      - backend
    environment:
      - PUID=${ENV_PUID}
      - PGID=${ENV_PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${SERVICES_DIR}/sabnzbd:/config
      #- ${DATA_DIR}/:/data
      - ${TMP_DOWNLOADS_DIR}:/data/downloads/incomplete
      #- ${DOWNLOADS_DIR}:/data/downloads/complete
      - ${DOWNLOADS_DIR}:/data/complete
    security_opt:
      - no-new-privileges:true
    labels:
      traefik.enable: true
      traefik.docker.network: backend
      traefik.http.routers.sabnzbd.entrypoints: homesec
      traefik.http.routers.sabnzbd.rule: Host(`sabnzbd.${DOMAIN}`)
      traefik.http.services.sabnzbd.loadbalancer.server.port: 8080
  umlautadaptarr:
    container_name: umlautadaptarr
    hostname: umlautadaptarr
    build: https://github.com/PCJones/UmlautAdaptarr.git#master
    # image: ${SERVICES_UMLAUTADAPTARR_IMAGE:-pcjones/umlautadaptarr}:${SERVICES_UMLAUTADAPTARR_IMAGE_VERSION:-latest}
    # ports:
    #   - 5006:5006
    #   - 5005:5005
    restart: unless-stopped
    networks:
      - backend
    environment:
      - PUID=${ENV_PUID}
      - PGID=${ENV_PGID}
      - TZ=${TIMEZONE}
      - SONARR__0__NAME=sonarr
      - SONARR__0__ENABLED=true
      - SONARR__0__HOST=http://sonarr:8989
      - SONARR__0__APIKEY=${SONARR_API_KEY}
      - SONARR__1__ENABLED=false
      - SONARR__1__NAME=sonarr_as
      - SONARR__1__HOST=http://sonarr_as:8989
      - SONARR__1__APIKEY=${SONARR_AS_API_KEY}
      - RADARR__0__NAME=radarr
      - RADARR__0__ENABLED=true
      - RADARR__0__HOST=http://radarr:7878
      - RADARR__0__APIKEY=${RADARR_API_KEY}
      - RADARR__1__NAME=radarr-anime
      - RADARR__1__ENABLED=true
      - RADARR__1__HOST=http://radarr_kids:7878
      - RADARR__1__APIKEY=${RADARR_KIDS_API_KEY}
      - READARR__ENABLED=false
      - READARR__HOST=http://readarr:8787
      - READARR__APIKEY=${READARR_API_KEY}
      - LIDARR__ENABLED=false
      - LIDARR__HOST="http://lidarr:8686"
      - LIDARR__APIKEY="API_KEY"
    security_opt:
      - no-new-privileges:true
networks:
  frontend:
    external: true
  backend:
    external: true
