services:
  jellyseerr:
    container_name: jellyseerr
    hostname: jellyseerr
    image: fallenbagel/jellyseerr:latest
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - backend
      - frontend
    user: ${ENV_PUID}:${ENV_PGID}
    environment:
      - LOG_LEVEL=debug
      - TZ=${TIMEZONE}
    volumes:
      - ${SERVICES_DIR}/jellyseerr:/app/config
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyseerr.entrypoints=homesec,websecure
      - traefik.http.routers.jellyseerr.rule=Host(`js.${DOMAIN}`)
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.icon=https://hotio.dev/webhook-avatars/jellyseerr.png
      - net.unraid.docker.webui=http://[IP]:[PORT:5055]
      - net.unraid.docker.shell=sh
  radarr:
    container_name: radarr
    hostname: radarr
    image: lscr.io/linuxserver/radarr:latest
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - backend
    environment:
      - PUID=${ENV_PUID}
      - PGID=${ENV_PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${SERVICES_DIR}/radarr:/config
      - ${DATA_DIR}:/data
      - ${POSTERIZARR}:/posterizarr:rw
    labels:
      - traefik.enable=true
      - traefik.docker.network=backend
      - traefik.http.routers.radarr.entrypoints=homesec
      - traefik.http.routers.radarr.rule=Host(`radarr.${DOMAIN}`)
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.webui=http://[IP]:[PORT:7878]/system/status
      - net.unraid.docker.icon=https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/radarr-logo.png
      - net.unraid.docker.shell=bash
  radarr_kids:
    container_name: radarr_kids
    hostname: radarr_kids
    image: lscr.io/linuxserver/radarr:latest
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - backend
    environment:
      - PUID=${ENV_PUID}
      - PGID=${ENV_PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${SERVICES_DIR}/radarr_kids:/config
      - ${DATA_DIR}:/data
      - ${POSTERIZARR}:/posterizarr:rw
    labels:
      - traefik.enable=true
      - traefik.docker.network=backend
      - traefik.http.routers.radarr-kids.entrypoints=homesec
      - traefik.http.routers.radarr-kids.rule=Host(`radarr-kids.${DOMAIN}`)
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.webui=http://[IP]:[PORT:7879]/system/status
      - net.unraid.docker.icon=https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/radarr-logo.png
      - net.unraid.docker.shell=bash
  sonarr:
    container_name: sonarr
    hostname: sonarr
    image: lscr.io/linuxserver/sonarr:latest
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - backend
    environment:
      - PUID=${ENV_PUID}
      - PGID=${ENV_PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${SERVICES_DIR}/sonarr:/config
      - ${DATA_DIR}:/data
      - ${POSTERIZARR}:/posterizarr:rw
    labels:
      - traefik.enable=true
      - traefik.docker.network=backend
      - traefik.http.routers.sonarr.entrypoints=homesec
      - traefik.http.routers.sonarr.rule=Host(`sonarr.${DOMAIN}`)
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.webui=http://[IP]:[PORT:8989]/system/status
      - net.unraid.docker.icon=https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/sonarr-logo.png
      - net.unraid.docker.shell=bash
  sonarr_as:
    # Animes
    container_name: sonarr_as
    hostname: sonarr_as
    image: lscr.io/linuxserver/sonarr:latest
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - backend
    environment:
      - PUID=${ENV_PUID}
      - PGID=${ENV_PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${SERVICES_DIR}/sonarr_as:/config
      - ${DATA_DIR}:/data
      - ${POSTERIZARR}:/posterizarr:rw
    labels:
      - traefik.enable=true
      - traefik.docker.network=backend
      - traefik.http.routers.sonarr-as.entrypoints=homesec
      - traefik.http.routers.sonarr-as.rule=Host(`sonarr-as.${DOMAIN}`)
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.webui=http://[IP]:[PORT:8990]/system/status
      - net.unraid.docker.icon=https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/sonarr-logo.png
      - net.unraid.docker.shell=bash
  readarr:
    container_name: readarr
    hostname: readarr
    image: lscr.io/linuxserver/readarr:0.4.18-develop
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - backend
    environment:
      - PUID=${ENV_PUID}
      - PGID=${ENV_PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${SERVICES_DIR}/readarr:/config
      - ${DATA_DIR}:/data
    labels:
      - traefik.enable=true
      - traefik.docker.network=backend
      - traefik.http.routers.readarr.entrypoints=homesec
      - traefik.http.routers.readarr.rule=Host(`readarr.${DOMAIN}`)
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.webui=http://[IP]:[PORT:8787]/system/status
      - net.unraid.docker.icon=https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/readarr-logo.png
      - net.unraid.docker.shell=bash
  prowlarr:
    container_name: prowlarr
    hostname: prowlarr
    image: lscr.io/linuxserver/prowlarr:latest
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - backend
    environment:
      - PUID=${ENV_PUID}
      - PGID=${ENV_PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${SERVICES_DIR}/prowlarr:/config
    labels:
      - traefik.enable=true
      - traefik.docker.network=backend
      - traefik.http.routers.prowlarr.entrypoints=homesec
      - traefik.http.routers.prowlarr.rule=Host(`prowlarr.${DOMAIN}`)
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.webui=http://[IP]:[PORT:9696]/system/status
      - net.unraid.docker.icon=https://raw.githubusercontent.com/binhex/docker-templates/master/binhex/images/prowlarr-icon.png
      - net.unraid.docker.shell=bash
  posterizarr:
    container_name: posterizarr
    hostname: posterizarr
    image: ghcr.io/fscorrupt/posterizarr:latest
    user: ${ENV_PUID}:${ENV_PGID}
    ports:
      - 8000:8000
    security_opt:
      - no-new-privileges:true
    environment:
      - TZ=${TIMEZONE}
      - TERM=xterm
      - RUN_TIME=disabled
    restart: unless-stopped
    networks:
      - frontend
    volumes:
      - ${SERVICES_DIR}/posterizarr:/config:rw
      - ${SERVICES_DIR}/posterizarr/assets:/assets:rw
      - ${SERVICES_DIR}/posterizarr/assetsbackup:/assetsbackup:rw
      - ${SERVICES_DIR}/posterizarr/manualassets:/manualassets:rw
    labels:
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.webui=http://[IP]:[PORT:8000]/
      - net.unraid.docker.icon=https://raw.githubusercontent.com/nwithan8/unraid_templates/master/images/posterizarr-icon.png
      # bazarr:
      #   container_name: bazarr
      #   hostname: bazarr
      #   image: lscr.io/linuxserver/bazarr:latest
      #   # ports:
      #   #   - 6767:6767
      #   restart: unless-stopped
      #   networks:
      #     - backend
      #   volumes:
      #     - ${SERVICES_DIR}/bazarr/config:/config
      #     - ${DATA_DIR}:/data
      #   environment:
      #     - PUID=${ENV_PUID}
      #     - PGID=${ENV_PGID}
      #     - TZ=${TIMEZONE}
      #  labels:
      #     - traefik.enable=true
      #     - traefik.docker.network=backend
      #     - traefik.http.routers.bazarr.entrypoints=homesec
      #     - traefik.http.routers.bazarr.rule=Host(`bazarr.${DOMAIN}`)
      #     - net.unraid.docker.managed:=omposeman
      #     - net.unraid.docker.webui=http://[IP]:[PORT:6767]/system/status
      #     - net.unraid.docker.icon=https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/bazarr-logo.png
      #     - net.unraid.docker.shell='bash'
  sabnzbd:
    container_name: sabnzbd
    hostname: sabnzbd
    image: lscr.io/linuxserver/sabnzbd:latest
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - backend
    environment:
      - PUID=${ENV_PUID}
      - PGID=${ENV_PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ${SERVICES_DIR}/sabnzbd:/config
      - ${DATA_DIR}/complete:/data/complete
      - ${TMP_DOWNLOADS_DIR}:/data/incomplete
    labels:
      - traefik.enable=true
      - traefik.docker.network=backend
      - traefik.http.routers.sabnzbd.entrypoints=homesec
      - traefik.http.routers.sabnzbd.rule=Host(`sabnzbd.${DOMAIN}`)
      - traefik.http.services.sabnzbd.loadbalancer.server.port=8080
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.webui=http://[IP]:[PORT:8087]
      - net.unraid.docker.icon=https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/sabnzbd-logo.png
      - net.unraid.docker.shell=bash
  umlautadaptarr:
    container_name: umlautadaptarr
    hostname: umlautadaptarr
    # build: https://github.com/PCJones/UmlautAdaptarr.git#master
    image: pcjones/umlautadaptarr:latest
    # ports:
    #   - 5006:5006
    #   - 5005:5005
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - backend
    environment:
      - PUID=${ENV_PUID}
      - PGID=${ENV_PGID}
      - TZ=${TIMEZONE}
      - SONARR__0__NAME=sonarr
      - SONARR__0__ENABLED=true
      - SONARR__0__HOST=http://sonarr:8989
      - SONARR__0__APIKEY=${SONARR_API_KEY}
      - SONARR__1__ENABLED=false
      - SONARR__1__NAME=sonarr_as
      - SONARR__1__HOST=http://sonarr_as:8989
      - SONARR__1__APIKEY=${SONARR_AS_API_KEY}
      - RADARR__0__NAME=radarr
      - RADARR__0__ENABLED=true
      - RADARR__0__HOST=http://radarr:7878
      - RADARR__0__APIKEY=${RADARR_API_KEY}
      - RADARR__1__NAME=radarr-anime
      - RADARR__1__ENABLED=true
      - RADARR__1__HOST=http://radarr_kids:7878
      - RADARR__1__APIKEY=${RADARR_KIDS_API_KEY}
      - READARR__ENABLED=false
      - READARR__HOST=http://readarr:8787
      - READARR__APIKEY=${READARR_API_KEY}
      - LIDARR__ENABLED=false
      - LIDARR__HOST="http://lidarr:8686"
      - LIDARR__APIKEY="API_KEY"
    labels:
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.icon=https://raw.githubusercontent.com/tschoerk/unraid-templates/main/umlautadaptarr/umlaute.png
      - net.unraid.docker.shell=bash
networks:
  frontend:
    external: true
  backend:
    external: true
