services:
  configarr:
    container_name: configarr
    hostname: configarr
    image: ghcr.io/raydak-labs/configarr:latest
    restart: no
    security_opt:
      - no-new-privileges:true
    user: 99:100
    environment:
      - TZ=Europe/Berlin
    volumes:
      - ./configarr/config:/app/config
      - ./configarr/repos:/app/repos
      - ./configarr/cfs:/app/cfs
      - ./configarr/templates:/app/templates
    networks:
      - frontend
    labels:
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.icon=https://raw.githubusercontent.com/wiki/raydak-labs/configarr/img/logo.png
      - net.unraid.docker.shell=bash
networks:
  frontend:
    external: true
