services:
  configarr:
    container_name: configarr
    hostname: configarr
    image: ghcr.io/raydak-labs/configarr:latest
    user: 99:100
    environment:
      - TZ=Europe/Berlin
    volumes:
      - /mnt/cache/appdata/configarr/config:/app/config
      - /mnt/cache/appdata/configarr/repos:/app/repos
      - /mnt/cache/appdata/configarr/cfs:/app/cfs
      - /mnt/cache/appdata/configarr/templates:/app/templates
    restart: no
    networks:
      - backend
    security_opt:
      - no-new-privileges:true
networks:
  backend:
    external: true
