services:
  vaultwarden:
    container_name: vaultwarden
    hostname: vaultwarden
    image: vaultwarden/server:latest
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    # ports:
    #   - 4744:80
    environment:
      SIGNUPS_ALLOWED: false
      INVITATIONS_ALLOWED: false
      WEBSOCKET_ENABLED: false
      ADMIN_TOKEN: $ADMIN_TOKEN
      DOMAIN: https://${DOMAIN}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_FROM: ${SMTP_FROM}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_SSL: ${SMTP_SSL}
      SMTP_USERNAME: ${SMTP_USERNAME}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
    volumes:
      - ./vaultwarden:/data
    networks:
      - frontend
    labels:
      - crowdsec.enable=true
      - crowdsec.labels.type=vaultwarden
      - traefik.enable=true
      - traefik.http.routers.vaultwarden.entrypoints=websecure,homesec
      - traefik.http.routers.vaultwarden.rule=Host(`${DOMAIN}`)
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.webui=http://[IP]:[PORT:80]/admin
      - net.unraid.docker.icon=https://raw.githubusercontent.com/selfhosters/unRAID-CA-templates/master/templates/img/vaultwarden.png
      - net.unraid.docker.shell=bash
networks:
  frontend:
    external: true
