services:
  vaultwarden:
    container_name: vaultwarden
    hostname: vaultwarden
    image: vaultwarden/server:latest
    restart: unless-stopped
    # ports:
    #   - 4744:80
    environment:
      SIGNUPS_ALLOWED: false
      INVITATIONS_ALLOWED: false
      WEBSOCKET_ENABLED: false
      ADMIN_TOKEN: $ADMIN_TOKEN
      DOMAIN: https://${DOMAIN}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_FROM: ${SMTP_FROM}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_SSL: ${SMTP_SSL}
      SMTP_USERNAME: ${SMTP_USERNAME}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
    volumes:
      - /mnt/cache/appdata/vaultwarden:/data
    networks:
      - frontend
    security_opt:
      - no-new-privileges:true
    labels:
      traefik.enable: "true"
      traefik.http.routers.vaultwarden.entrypoints: websecure,homesec
      traefik.http.routers.vaultwarden.rule: Host(`${DOMAIN}`)
networks:
  frontend:
    external: true
