services:
  gitea:
    image: gitea/gitea:1.22.4
    container_name: gitea
    hostname: gitea
    environment:
      - USER_UID=${USER_UID}
      - USER_GID=${USER_GID}
      - GITEA__database__DB_TYPE=postgres
      - GITEA__database__HOST=${POSTGRES_HOST}:${POSTGRES_PORT}
      - GITEA__database__NAME=${POSTGRES_DB}
      - GITEA__database__USER=${POSTGRES_USER}
      - GITEA__database__PASSWD=${POSTGRES_PASSWORD}
      # -- (Optional) Change your server settings here...
      - GITEA__server__SSH_PORT=2221 # <-- (Optional) Replace with your desired SSH port
      - GITEA__server__ROOT_URL=http://${DOMAIN} # <-- Replace with your FQDN

      # Mailer
      - GITEA_MAILER_ENABLED=${GITEA_MAIL_ENABLED}
      - GITEA_MAILER_SMTP_ADDR=$(GITEA_SMTP_ADDR}
      - GITEA_MAILER_SMTP_PORT=$(GITEA_SMTP_PORT}
      - GITEA_MAILER_FROM=${GITEA_MAIL_FROM}
      - GITEA_MAILER_PROTOCOL=${GITEA_MAIL_PROTOCOL}
      # Security
      - GITEA_SECURITY_ALLOWED_DOMAINS=${GITEA_ALLOWED_DOMAINS}
      - GITEA_SECURITY_ALLOW_LOCALNETWORKS=${GITEA_ALLOW_LOCALNETWORKS}
    networks:
      - backend
    volumes:
      - /mnt/cache/appdata/gitea/data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      # - "3000:3000"
      - 2221:22 # <-- (Optional) Replace with your desired SSH port
    # depends_on:
    #   - db
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    labels:
      traefik.enable: "true"
      traefik.docker.network: backend
      traefik.http.services.gitea.loadbalancer.server.port: "3000"
      traefik.http.routers.gitea-https.entrypoints: homesec
      traefik.http.routers.gitea-https.rule: Host(`${DOMAIN}`)
  # db:
  #   image: postgres:14
  #   container_name: gitea-db
  #   hostname: gitea-db
  #   environment:
  #     - POSTGRES_USER=${POSTGRES_USER}
  #     - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
  #     - POSTGRES_DB=${POSTGRES_DB}
  #   networks:
  #     - backend
  #   volumes:
  #     - /mnt/cache/appdata/gitea/db:/var/lib/postgresql/data
  #   restart: unless-stopped
  #   security_opt:
  #     - no-new-privileges:true

  gitea-runner:
    image: gitea/act_runner:latest
    container_name: gitea-runner
    hostname: gitea-runner
    environment:
      - CONFIG_FILE=/config-yaml
      - GITEA_INSTANCE_URL=${GITEA_INSTANCE_URL}
      - GITEA_RUNNER_REGISTRATION_TOKEN=$(GITEA_RUNNER_REGISTRATION_TOKEN}
      - GITEA_RUNNER_NAME=${GITEA_RUNNER_NAME)
      - GITEA_RUNNER_LABELS=${GITEA_RUNNER_LABELS}
    volumes:
      - /mnt/cache/appdata/gitea-runner/config-yaml:/config-yaml
      - /mnt/cache/appdata/gitea-runner/cache:/cache
      - /mnt/cache/appdata/gitea-runner/data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      gitea:
        condition: service_started
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - backend
networks:
  backend:
    external: true
