services:
  gotify:
    container_name: gotify
    hostname: gotify
    image: gotify/server:latest
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    # ports:
    #   - 8080:80
    environment:
      - GOTIFY_DEFAULTUSER_PASS=admin
      - TZ=${TIMEZONE}
      - GOTIFY_REGISTRATION=true
    volumes:
      - /mnt/cache/appdata/gotify/:/app/data
      - /mnt/cache/appdata/gotify/config/:/etc/gotify
    networks:
      - backend
      - frontend
    labels:
      - traefik.enable=true
      - traefik.docker.network=backend
      - traefik.http.routers.gotify.entrypoints=websecure,homesec
      - traefik.http.routers.gotify.rule=Host(`gotify.${DOMAIN}`)
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.webui=http://[IP]:[PORT:7878]/system/status
      - net.unraid.docker.icon=https://raw.githubusercontent.com/A75G/docker-templates/master/templates/icons/gotify.png
      - net.unraid.docker.shell=bash
networks:
  backend:
    external: true
  frontend:
    external: true
