services:
  gotify:
    container_name: gotify
    hostname: gotify
    image: gotify/server:latest
    security_opt:
      - no-new-privileges:true
    # ports:
    #   - 8080:80
    environment:
      - GOTIFY_DEFAULTUSER_PASS=admin
      - TZ=${TIMEZONE}
      - GOTIFY_REGISTRATION=true
    volumes:
      - /mnt/cache/appdata/gotify/:/app/data
      - /mnt/cache/appdata/gotify/config/:/etc/gotify
    restart: unless-stopped
    networks:
      - backend
      - frontend
    labels:
      traefik.enable: "true"
      traefik.docker.network: backend
      traefik.http.routers.gotify.entrypoints: websecure,homesec
      traefik.http.routers.gotify.rule: Host(`gotify.${DOMAIN}`)
networks:
  backend:
    external: true
  frontend:
    external: true
