services:
  ntfy:
    container_name: ntfy
    hostname: ntfy
    image: binwiederhier/ntfy:latest
    restart: unless-stopped
    command:
      - serve
    # ports:
    #   - '89:80/tcp'
    volumes:
      - /mnt/cache/appdata/ntfy/ntfy:/config:rw
    environment:
      - TZ=Europe/Berlin
      - NTFY_BASE_URL=https://ntfy.local
      - NTFY_WEB_ROOT=app
      - NTFY_UPSTREAM_BASE_URL=https://ntfy.sh
      - NTFY_CACHE_FILE=/config/cache.db
      - NTFY_CACHE_DURATION=12h
      - NTFY_AUTH_FILE=/config/user.db
      - NTFY_AUTH_DEFAULT_ACCESS=read-write
      - NTFY_ATTACHMENT_CACHE_DIR=/config/attachments
      - NTFY_ATTACHMENT_TOTAL_SIZE_LIMIT=5G
      - NTFY_ATTACHMENT_FILE_SIZE_LIMIT=15M
      - NTFY_ATTACHMENT_EXPIRY_DURATION=3h
      - NTFY_SMTP_SENDER_ADDR=
      - NTFY_SMTP_SENDER_USER=
      - NTFY_SMTP_SENDER_PASS=
      - NTFY_SMTP_SENDER_FROM=
      - NTFY_SMTP_SERVER_ADDR_PREFIX=
      - NTFY_LOG_LEVEL=info
    networks:
      - frontend
      - backend
    security_opt:
      - no-new-privileges:true
    labels:
      traefik.enable: "true"
      traefik.docker.network: frontend
      traefik.http.routers.ntfy.entrypoints: homesec
      traefik.http.routers.ntfy.rule: Host(`ntfy.${DOMAIN}`)
networks:
  backend:
    external: true
  frontend:
    external: true
