services:
  pihole:
    container_name: pihole
    hostname: pihole
    image: pihole/pihole:latest
    depends_on:
      - unbound
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 83:80/tcp
      # - 443:443/tcp
    environment:
      TZ: Europe/Berlin
      # Set a password to access the web interface. Not setting one will result in a random password being assigned
      FTLCONF_webserver_api_password: ""
      # Configure DNS upstream servers, e.g:
      # FTLCONF_dns_upstreams: unbound
      # FTLCONF_dns_dnssec: true
      REV_SERVER: true
      REV_SERVER_DOMAIN: fritz.box
      REV_SERVER_TARGET: 192.168.178.1
      REV_SERVER_CIDR: 192.168.178.0/24
      WEBTHEME: default-darker
    # Volumes store your data between container upgrades
    volumes:
      - /mnt/cache/appdata/pihole/etc-pihole:/etc/pihole
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
  unbound:
    container_name: unbound
    hostname: unbound
    image: mvance/unbound:latest
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
networks:
  default:
    name: "pihole"
