services:
  memcached:
    image: memcached:latest
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    expose:
      - "11211"
    networks:
      - backend
    labels:
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.icon=https://raw.githubusercontent.com/jhaals/yopass/refs/heads/master/logo/512.png
      - net.unraid.docker.shell=bash
  yopass:
    image: jhaals/yopass:latest
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    command: --memcached=memcached:11211 --port 80
    environment:
      - VIRTUAL_HOST=yopass.${DOMAIN}
      - MAX_LENGTH=8000000
    networks:
      - backend
      - frontend
    labels:
      - traefik.enable=true
      - traefik.http.routers.yopass.entrypoints=websecure,homesec
      - traefik.http.routers.yopass.rule=Host(`yopass.${DOMAIN}`)
      - traefik.http.services.yopass.loadbalancer.server.port=80
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.icon=https://raw.githubusercontent.com/jhaals/yopass/refs/heads/master/logo/512.png
      - net.unraid.docker.shell=bash
networks:
  backend:
    external: true
  frontend:
    external: true
