services:
  memcached:
    image: memcached:latest
    restart: unless-stopped
    expose:
      - "11211"
    networks:
      - backend
    security_opt:
      - no-new-privileges:true
  yopass:
    image: jhaals/yopass:latest
    restart: unless-stopped
    command: --memcached=memcached:11211 --port 80
    environment:
      - VIRTUAL_HOST=yopass.${DOMAIN}
      - MAX_LENGTH=8000000
    networks:
      - backend
      - frontend
    security_opt:
      - no-new-privileges:true
    labels:
      traefik.enable: "true"
      traefik.http.routers.yopass.entrypoints: websecure,homesec
      traefik.http.routers.yopass.rule: Host(`yopass.${DOMAIN}`)
      traefik.http.services.yopass.loadbalancer.server.port: "80"
networks:
  backend:
    external: true
  frontend:
    external: true
