services:
  authentik-server:
    container_name: authentik-server
    hostname: authentik-server
    image: ghcr.io/goauthentik/server:${AUTHENTIK_TAG}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    command: server
    environment:
      AUTHENTIK_REDIS__HOST: ${AUTHENTIK_REDIS__HOST}
      AUTHENTIK_POSTGRESQL__HOST: ${AUTHENTIK_POSTGRESQL__HOST}
      AUTHENTIK_POSTGRESQL__USER: ${AUTHENTIK_POSTGRESQL__USER:-authentik}
      AUTHENTIK_POSTGRESQL__NAME: ${AUTHENTIK_POSTGRESQL__NAME:-authentik}
      AUTHENTIK_POSTGRESQL__PASSWORD: ${AUTHENTIK_POSTGRESQL__PASSWORD}
    volumes:
      - ./authentik/media:/media
      - ./authentik/custom-templates:/templates
    env_file:
      - .env
    ports:
      - ${COMPOSE_PORT_HTTP:-9001}:9000
      - ${COMPOSE_PORT_HTTPS:-9443}:9443
      # depends_on:
      #   - postgresql
      #   - redis
    networks:
      - backend
      - frontend
    labels:
      - crowdsec.enable=true
      - crowdsec.labels.type=authentik
      - traefik.enable=true
      - traefik.docker.network=frontend
      - traefik.http.routers.authentik-server.entrypoints=homesec,websecure
      - traefik.http.routers.authentik-server.rule=Host(`authentik.${DOMAIN}`) || (HostRegexp(`{subdomain:[a-z0-9-]+}.${DOMAIN}`) &&
        PathPrefix(`/outpost.goauthentik.io/`))
      - traefik.http.routers.authentik-server.service=authentik-server
      - traefik.http.services.authentik-server.loadbalancer.server.port=9000
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.webui=http://[IP]:[PORT:9000]/
      - net.unraid.docker.icon=https://raw.githubusercontent.com/ibracorp/app-logos/main/authentik/authentik.png
      - net.unraid.docker.shell=bash
  authentik-worker:
    container_name: authentik-worker
    hostname: authentik-worker
    image: ghcr.io/goauthentik/server:${AUTHENTIK_TAG}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    command: worker
    environment:
      AUTHENTIK_REDIS__HOST: ${AUTHENTIK_REDIS__HOST}
      AUTHENTIK_POSTGRESQL__HOST: ${AUTHENTIK_POSTGRESQL__HOST}
      AUTHENTIK_POSTGRESQL__USER: ${AUTHENTIK_POSTGRESQL__USER:-authentik}
      AUTHENTIK_POSTGRESQL__NAME: ${AUTHENTIK_POSTGRESQL__NAME:-authentik}
      AUTHENTIK_POSTGRESQL__PASSWORD: ${AUTHENTIK_POSTGRESQL__PASSWORD}
    # `user: root` and the docker socket volume are optional.
    # See more for the docker socket integration here:
    # https://goauthentik.io/docs/outposts/integrations/docker
    # Removing `user: root` also prevents the worker from fixing the permissions
    # on the mounted folders, so when removing this make sure the folders have the correct UID/GID
    # (1000:1000 by default)
    user: 99:100
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./authentik/media:/media
      - ./authentik/certs:/certs
      - ./authentik/custom-templates:/templates
    env_file:
      - .env
    # depends_on:
    #   - postgresql
    #   - redis

    networks:
      - backend
    labels:
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.icon=https://raw.githubusercontent.com/ibracorp/app-logos/main/authentik/authentik.png
      - net.unraid.docker.shell=bash
networks:
  backend:
    external: true
  frontend:
    external: true
