services:
  homepage:
    container_name: homepage
    hostname: homepage
    image: ghcr.io/gethomepage/homepage:latest
    restart: unless-stopped
    env_file:
      - .env
    # security_opt:
    #   - no-new-privileges:true
    healthcheck:
      disable: true
    ports:
      - 3000:3000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./homepage/config:/app/config
      - ./homepage/images:/app/public/images
      - /mnt/user:/mnt/user:ro
      - /mnt/cache:/mnt/cache:ro
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=192.168.20.3:3000,ho.${DOMAIN}
      # - PUID=$PUID
      # - PGID=$PGID
    labels:
      - traefik.enable=true
      - traefik.docker.network=frontend
      - traefik.http.routers.homepage.entrypoints=homesec
      - traefik.http.routers.homepage.rule=Host(`ho.${DOMAIN}`)
      - traefik.http.services.homepage.loadbalancer.server.port=3000
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.webui=http://[IP]:[PORT:3000]
      - net.unraid.docker.icon=https://raw.githubusercontent.com/gethomepage/homepage/main/public/android-chrome-512x512.png
      - net.unraid.docker.shell=sh
    networks:
      - frontend
networks:
  frontend:
    external: true
