services:
  homepage:
    container_name: homepage
    hostname: homepage
    image: ghcr.io/gethomepage/homepage:latest
    healthcheck:
      disable: true
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /mnt/cache/appdata/homepage/config:/app/config
      - /mnt/cache/appdata/homepage/images:/app/public/images
      - /mnt/cache:/mnt/cache:ro
      - /mnt/user:/mnt/user:ro
    networks:
      - backend
      - frontend
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=192.168.20.3:3000,ho.${DOMAIN}
    security_opt:
      - no-new-privileges:true
    labels:
      traefik.enable: 'true'
      traefik.docker.network: 'backend'
      traefik.http.routers.homepage.entrypoints: 'homesec'
      traefik.http.routers.homepage.rule: 'Host(`ho.${DOMAIN}`)'
      traefik.http.services.homepage.loadbalancer.server.port: '3000'
networks:
  backend:
    external: true
  frontend:
    external: true
