services:
  backrest:
    image: garethgeorge/backrest:latest
    container_name: backrest
    hostname: backrest
    volumes:
      - /mnt/cache/appdata/backrest/data:/data
      - /mnt/cache/appdata/backrest/config:/config
      - /mnt/cache/appdata/backrest/cache:/cache
      - /mnt/cache/appdata/backrest/tmp:/tmp
      - /mnt/cache/appdata/backrest/ssh:/root/.ssh
      - /mnt/disk8:/userdata # Mount local paths to backup
      #- /mnt/user/Backup/unraid:/repos # Mount local repos (optional for remote storage)
    environment:
      - BACKREST_DATA=/data
      - BACKREST_CONFIG=/config/config.json
      - XDG_CACHE_HOME=/cache
      - TMPDIR=/tmp
      - TZ=Europe/Berlin
    ports:
      - 9898:9898
    restart: unless-stopped
    networks:
      - backend
    security_opt:
      - no-new-privileges:true
    labels:
      traefik.enable: "true"
      traefik.docker.network: backend
      traefik.http.routers.backrest.entrypoints: homesec
      traefik.http.routers.backrest.rule: Host(`backrest.${DOMAIN}`)
networks:
  backend:
    external: true
