services:
  fileflows:
    image: revenz/fileflows
    restart: unless-stopped
    ports:
      - 19200:5000
    devices:
      - /dev/dri:/dev/dri
    environment:
      - TZ=Europe/Berlin
      - PUID=99
      - PGID=10
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /mnt/cache/appdata/fileflows:/app/Data
      - /mnt/user/Media:/media
    labels:
      - traefik.enable=true
      - traefik.docker.network=backend
      - traefik.http.routers.fileflows.entrypoints=homesec
      - traefik.http.routers.fileflows.rule=Host(`fileflows.${DOMAIN}`)
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.webui=http://[IP]:[PORT:19200]/files/
      - net.unraid.docker.icon=https://raw.githubusercontent.com/revenz/FileFlows/master/icon.png?raw=true
    networks:
      - backend
networks:
  backend:
    external: true
