services:
  jellyplex:
    image: luigi311/jellyplex-watched:latest
    container_name: jellyplex
    hostname: jellyplex
    restart: unless-stopped
    environment:
      - PUID=99
      - PGID=100
    env_file: ./.env
    networks:
      - backend
    security_opt:
      - no-new-privileges:true
networks:
  backend:
    external: true
