services:
  trilium:
    container_name: trilium
    hostname: trilium
    image: triliumnext/notes
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - frontend
    environment:
      - TRILIUM_DATA_DIR=/home/trilium/trilium-data
      # - TRILIUM_UID=${TRILIUM_UID}
      # - TRILIUM_GID=${TRILIUM_GID}
      # user: ${TRILIUM_UID}:${TRILIUM_GID}
    ports:
      - 8082:8080
    volumes:
      # Unless TRILIUM_DATA_DIR is set, the data will be stored in the "trilium-data" directory in the home directory.
      # This can also be changed by replacing the line below with `- /path/of/your/choice:/home/trilium/trilium-data
      - ${TRILIUM_DATA_DIR}:/home/trilium/trilium-data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    labels:
      - traefik.enable=true
      - traefik.http.routers.trilium.entrypoints=homesec
      - traefik.http.routers.trilium.rule=Host(`trilium.${DOMAIN}`)
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.webui=http://[IP]:[PORT:8080]
      - net.unraid.docker.icon=https://raw.githubusercontent.com/selfhosters/unRAID-CA-templates/master/templates/img/triliumnext.png
      - net.unraid.docker.shell=bash
networks:
  frontend:
    external: true
