services:
  watchtower:
    container_name: watchtower
    hostname: watchtower
    image: containrrr/watchtower:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    environment:
      - TZ=Europe/Berlin
      - WATCHTOWER_RUN_ONCE=false
      - WATCHTOWER_LIFECYCLE_HOOKS=1
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_MONITOR_ONLY=false
      - WATCHTOWER_SCHEDULE=0 0 6 * * *
      - WATCHTOWER_NOTIFICATIONS=gotify
      - WATCHTOWER_NOTIFICATION_GOTIFY_URL=${GOTIFY_URL:-http://gotify}
      - WATCHTOWER_NOTIFICATION_GOTIFY_TOKEN=${GOTIFY_TOKEN}
      - WATCHTOWER_NOTIFICATIONS_LEVEL=info
    networks:
      - backend
    security_opt:
      - no-new-privileges:true
networks:
  backend:
    external: true
