services:
  adguardhome:
    container_name: adguardhome
    hostname: adguardhome
    image: adguard/adguardhome:latest
    # depends_on:
    #   - unbound
    ports:
      - 54:53/tcp
      - 54:53/udp
      - 784:784/udp
      - 853:853/tcp
      - 3003:3000/tcp
      - 87:80/tcp
      # - 443:443/tcp
    volumes:
      - /mnt/cache/appdata/adguard/config/adguard/workingdir:/opt/adguardhome/work
      - /mnt/cache/appdata/adguard/config/adguard/config:/opt/adguardhome/conf
    restart: unless-stopped
      # networks:
      #   locale-net:
      #     ipv4_address: 192.168.178.254
    security_opt:
      - no-new-privileges:true
#   unbound:
#     container_name: unbound
#     hostname: unbound
#     image: mvance/unbound:latest
#     expose:
#       - 53
#         networks:
#           locale-net:
#             ipv4_address: 192.168.178.253
#     ports:
#       - 53:53/tcp
#       - 53:53/udp
#     volumes:
#       - /mnt/cache/appdata/adguard/config/unbound/unbound.conf:/opt/unbound/etc/unbound/unbound.conf
#     restart: unless-stopped
#     security_opt:
#       - no-new-privileges:true
# networks: {}

networks:
  locale-net:
    external: true
