services:
  adguardhome:
    image: adguard/adguardhome:latest
    container_name: ${APP_NAME}
    hostname: ${APP_NAME}
    cap_add:
      - NET_ADMIN
      - NET_BIND_SERVICE
      - NET_RAW
    ports:
      - 3003:3000/tcp
      - 80:80/tcp
      - 443:443/udp
      - 53:53/tcp
      - 53:53/udp
      - 784:784/udp
      - 853:853/tcp
      - 5443:5443/tcp
      - 5443:5443/udp
    volumes:
      - ./adguard/workingdir:/opt/adguardhome/work
      - ./adguard/config:/opt/adguardhome/conf
      - ./certbot/etc/letsencrypt:/etc/letsencrypt:ro
    restart: unless-stopped
    networks:
      lan_access:
        ipv4_address: 192.168.20.254
  certbot:
    image: certbot/dns-cloudflare:latest
    container_name: certbot-adguard
    restart: unless-stopped
    volumes:
      - ./certbot/etc/letsencrypt:/etc/letsencrypt
      - ./certbot/var/letsencrypt:/var/lib/letsencrypt
      - ./cloudflare.ini:/etc/letsencrypt/cloudflare.ini:ro
    entrypoint: /bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 24h &
      wait $${!}; done'
    networks:
      - frontend
networks:
  lan_access:
    name: br0
    external: true
  frontend:
    external: true
