services:
  jellyfin:
    container_name: jellyfin1
    hostname: jellyfin1
    image: lscr.io/linuxserver/jellyfin:latest
    devices:
      - /dev/dri:/dev/dri
    ports:
      - 8097:8096
    restart: unless-stopped
    networks:
      - frontend
      - backend
    environment:
      - PUID=${ENV_PUID}
      - PGID=${ENV_PGID}
      - TZ=${TIMEZONE}
    volumes:
      - /mnt/cache/appdata/jellyfin1:/config
      - ${DATA_DIR}:/data/media
      - ${TMP_TRANSCODE}:/transcode
    security_opt:
      - no-new-privileges:true
    labels:
      traefik.enable: "true"
      traefik.http.routers.jellyfin.entrypoints: websecure,homesec
      traefik.http.routers.jellyfin.rule: Host(`${DOMAIN}`)
      traefik.http.services.jellyfin.loadbalancer.server.port: "8096"
networks:
  frontend:
    external: true
  backend:
    external: true
