services:
  adguardhome-sync:
    container_name: adguardhome
    hostname: adguardhome
    image: lscr.io/linuxserver/adguardhome-sync:latest
    # network_mode: host
    ports:
      - 87:80
    environment:
      - PUID=0
      - PGID=0
      - TZ=Etc/UTC
      - CONFIGFILE=/config/adguardhome-sync.yaml
    volumes:
      - /mnt/cache/appdata/adguardhome-sync/config:/config
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - backend
networks:
  backend:
    external: true
