services:
  adguardhome-sync:
    image: lscr.io/linuxserver/adguardhome-sync:latest
    # network_mode: host
    container_name: adguardhome-sync
    environment:
      - PUID=99
      - PGID=100
      - TZ=Etc/UTC
      - CONFIGFILE=/config/adguardhome-sync.yaml #optional
    volumes:
      - ./adguardhome-sync.yaml:/config/adguardhome-sync.yaml
    # ports:
    #   - 8089:8080
    restart: unless-stopped
    networks:
      lan_access:
        ipv4_address: 192.168.20.249
networks:
  lan_access:
    name: br0
    external: true
