services:
  uptime-kuma:
    restart: unless-stopped
    container_name: uptime-kuma
    hostname: uptime-kuma
    ports:
      - 3001:3001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /mnt/cache/appdata/uptimekuma:/app/data
    image: louislam/uptime-kuma:latest
    networks:
      - backend
    security_opt:
      - no-new-privileges:true
    labels:
      traefik.enable: "true"
      traefik.docker.network: backend
      traefik.http.routers.kuma.entrypoints: homesec
      traefik.http.routers.kuma.rule: Host(`kuma.${DOMAIN}`)
      traefik.http.routers.kuma.middlewares: authelia@docker
networks:
  backend:
    external: true
