---
###############################################################
#                         Users Database                      #
###############################################################

# This file can be used if you do not have an LDAP set up.

# List of users
users:
  user1:
    displayname: "user1"
    # docker run authelia/authelia:latest authelia crypto hash generate argon2 --password 'your password'  
    password: "$argon2id$v=" 
    email: user@example.com
    groups:
      - admins
      - dev
...
