services:
  kometa:
    container_name: kometa
    hostname: kometa
    image: kometateam/kometa:latest
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      - PUID=${ENV_PUID}
      - PGID=${ENV_PGID}
      - TZ=${TIMEZONE}
      - KOMETA_CONFIG=/config/config.yml #optional
      - KOMETA_TIME=04:30 #optional
      - KOMETA_DEBUG=True
      - KOMETA_NO_MISSING=False #optional
      - KOMETA_NO_COUNTDOWN=True
      # - KOMETA_RUN=True
    volumes:
      - /mnt/cache/appdata/Kometa:/config
      - /mnt/cache/appdata/posterizarr/assets/:/config/assets
    networks:
      - frontend
      - backend
    labels:
      - net.unraid.docker.managed=composeman
      - net.unraid.docker.icon=https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/kometa-logo.png
      - net.unraid.docker.shell=bash
  imagemaid:
    container_name: imagemaid
    hostname: imagemaid
    image: kometateam/imagemaid:develop
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      - TZ=${TIMEZONE}
      - PLEX_URL=http://plex:32400
      - PLEX_TOKEN=${PLEX_TOKEN}
      - MODE=remove
      - LOCAL_DB=False
      - IGNORE_RUNNING=False
      - USE_EXISTING=False
      - PHOTO_TRANSCODER=True
      - EMPTY_TRASH=True
      - CLEAN_BUNDLES=True
      - OPTIMIZE_DB=True
      - TIMEOUT=600
      - SLEEP=60
      - TRACE=False
      - LOG_REQUESTS=False
      - SCHEDULE=07:00|weekly(wednesday)
    volumes:
      - /mnt/cache/appdata/ImageMaid:/config
      - /mnt/cache/appdata/Plex-Media-Server/:/plex
    networks:
      - backend
    labels:

      - net.unraid.docker.managed=composeman
      - net.unraid.docker.icon=https://raw.githubusercontent.com/Kometa-Team/ImageMaid/refs/heads/develop/.github/logo.png
      - net.unraid.docker.shell=bash
networks:
  backend:
    external: true
  frontend:
    external: true
